:root{
    --title_size: 2em;
    --menu_width: 40%;
    --background_color: #171925;
    --primary_color: #0d1f35;
    --secondary_color: #636b6c;
    --auxilary_color: #3b3237;
    --highlight_color: #83555e;
}

@font-face {
    font-family: 'ABeeZee-italic';
    src: 
        url('fonts/ABeeZee/abeezee-italic-webfont.woff2') format('woff2'),
        url('fonts/ABeeZee/abeezee-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ABeeZee-regular';
    src:
        url('../fonts/ABeeZee/abeezee-regular-webfont.woff2') format('woff2'),
        url('../fonts/ABeeZee/abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
}

html {
    background-color: var(--background_color);
}

p {
    text-align: left;
    font-size: calc(var(--title_size)/3);
    word-wrap: break-word;
}

.header {
    font-family: 'ABeeZee-regular';
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 5%;
    transition: 0.7s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
}

.menu {
    position: fixed;
    background-color: var(--auxilary_color);
    width: var(--menu_width);
    height: 100%;
    z-index: 2;
    left: calc(-1*var(--menu_width));
    transition: 0.9s left;
    -webkit-transition: 0.9s left;
}

.centre {
    font-family: 'ABeeZee-regular';
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: var(--title_size);
    text-align: center;
}

.footer {
    font-family: 'ABeeZee-regular';
    left: 0%;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: var(--auxilary_color);
}

.footer_centre {
    position: absolute;
    background-color: var(--secondary_color);
    color: var(--background_color);
    font-family: 'ABeeZee-regular';
    font-size: var(--title_size);
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -5%);
    bottom: 5%;
    width: 30%;
    height: 80%;
    border-radius: 3%;
}

.footer_content {
    position: relative;
    width: 80%;
    height: 90%;
    font-family: 'ABeeZee-regular';
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer_title {
    text-align: center;
    font-size: calc(var(--title_size)/10);
}