:root{
    --title_size: 2em;
    --title_color: #171925;
}

@font-face {
    font-family: 'ABeeZee-italic';
    src: 
        url('fonts/ABeeZee/abeezee-italic-webfont.woff2') format('woff2'),
        url('fonts/ABeeZee/abeezee-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ABeeZee-regular';
    src:
        url('../fonts/ABeeZee/abeezee-regular-webfont.woff2') format('woff2'),
        url('../fonts/ABeeZee/abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
}

html {
    background-color: #0d1f35;
}

.header {
    font-family: 'ABeeZee-regular';
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 8%;
    transition: 0.7s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
}

.footer {
    font-family: 'ABeeZee-regular';
    left: 0%;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: black;
}

.centre {
    font-family: 'ABeeZee-regular';
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: var(--title_size);
    text-align: center;
}